/* Geral */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* Body ocupa toda a altura da tela e organiza com Flexbox */
html,
body {
  height: 100%;
}

body {
  background-color: #f5e6d3;
  display: flex;
  flex-direction: column;
}

/* Cabeçalho */
#cabecalho {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  padding: 0rem 2rem;
  background-color: #1c1c1c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}

/* Imagem principal */
#cabecalho > figure > img {
  width: 90px;
  height: 60px;
}

#cabecalho > nav {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

#navbar {
  display: flex;
  gap: 3rem;
}

#navbar a {
  color: white;
  font-weight: bold;
}

#navbar a:hover {
  text-decoration: underline 2px;
  transition: 0.5s;
}

#bt-entrar {
  display: inline-block;
  padding: 0.3rem 1.2rem;
  font-size: 17px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
}

#bt-entrar:hover {
  background-color: #737373;
  color: #f28c28;
  border: 3px solid #737373;
  transition: 0.5s;
}

/* Conteúdo principal */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* ocupa todo o espaço disponível */
}

#principal {
  /* Container */
  width: 1200px;
  height: 550px;
  background-color: #3e3e3e;
  border-radius: 60px;

  /* Formulario */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.lado-formulario {
  width: 400px;
  height: 440px;
}
.lado-formulario > h2 {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nome,
#email,
#cpf {
  height: 35px;
  width: 400px;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin-bottom: 28px;
  padding: 0rem 0.5rem;
}
#senha {
  height: 35px;
  width: 400px;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin-bottom: 50px;
  padding: 0rem 0.5rem;
}

.lado-formulario > form > button {
  width: 154px;
  height: 38px;
  background-color: #f28c28;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.lado-formulario > form > button:hover {
  background-color: white;
  color: #f28c28;
  transition: 0.5s;
}

/* Roda pé */
footer {
  background-color: #1c1c1c;
  height: 80px;
  padding: 0rem 10rem;
  text-align: center;
  display: flex;
  align-items: center;
}

footer p {
  font-family: "Open Sans", sans-serif;
  color: #444;
  font-size: 15px;
}
